<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/updateUser.css">
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/sample">Sample</a></li>
        <li style="float:right"><a class="active" href="#about">About</a></li>
    </ul>

    <br> <br>

    <form action="/update-user" method="POST" class="formUpdateUser">
        <fieldset>
            <legend>Update user</legend>
            <label for="name" style="display: none;">ID:</label>
            <input
                type="text"
                name="id"
                id="id"
                value="<%= user.id %>"
                readonly
                style="display: none;"
            />
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" value="<%= user.name %>" />
            <br><br>
            <label for="email">Email:</label>
            <input type="text" name="email" id="email" value="<%= user.email %>"/>
            <br><br>
            <label for="city">City:</label>
            <input type="text" name="city" id="city" value="<%= user.city %>"/>
            <br><br>
            <button class="btnUpdateUser">Update</button>
        </fieldset>
    </form>

</body>
</html>